<div class="background">

    <section id="logo">
        <div class="container">
            <img src="../../../assets/images/visitor-restaurant-logo.png" class="center"
            style="width: 420px; height: 80px;">
        </div>
    </section>

    <section>
        <div class="container">
            <h1 id="check-in-terms">
                COVID Safe Check-in (visitors) 
            </h1>
        </div>
    </section>

    <section>
        <div class="visitor-detail">
            <p class="form-prompt">Please confirm your details</p>
            <table style="text-align: center;">
                <tr class="visitor-row">
                    <td><label class="form-prompt">First Name:</label></td>
                    <td><label class="form-prompt">{{ visitor.firstName }}</label></td>
                </tr>
                <tr class="visitor-row">
                    <td><label class="form-prompt">Last Name:</label></td>
                    <td><label class="form-prompt">{{ visitor.lastName }}</label></td>
                </tr>
                <tr class="visitor-row">
                    <td><label class="form-prompt">Phone Number:</label></td>
                    <td><label class="form-prompt">{{ visitor.phoneNumber }}</label></td>
                </tr>
                <tr class="visitor-row">
                    <td><label class="form-prompt">Email Address:</label></td>
                    <td><label class="form-prompt">{{ visitor.email }}</label></td>
                </tr>
                <tr class="visitor-row">
                    <td><label class="form-prompt">Check In Time:</label></td>
                    <td><label class="form-prompt">{{ visitor.firstName }}</label></td>
                </tr>
            </table>
        </div>
    </section>

    <section id="buttons"> 
        <div class="container">
            <div class="backButton">
                <img src="../../../assets/images/visitor-check-in-time.png">
            </div>
            <div class="nextButton">
                <img src="../../../assets/images/visitor-check-in-time.png">
            </div>
        </div>

    </section>

</div>
