<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-logo" routerLink="/">
        <img src="../../../assets/images/visitor-restaurant-logo.png"
        style="width: 200px; height: 40px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav" >
          <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/visitorData" routerLinkActive="active">Visitor Data</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/report" routerLinkActive="active">Report</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" style="cursor:pointer" (click)="authService.logoutUser()">Logout</a>
      </ul> 
    </div>
  </nav>    