/*global*/
.container {
	width:80%; 
	margin:auto; 
    overflow: hidden;
    /**background:burlywood;*/
    vertical-align:middle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* End global */

.background {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-image: url(../../../assets/images/visitor-background.png);
}

.admin-login {
    float: right;
    padding-right: 36px;
    padding-top: 20px;
}

.visitor-detail {
	width:50%; 
	margin:auto; 
    overflow: hidden;
    vertical-align:middle;
    padding: 20px;
    background-image: url(../../../assets/images/visitor-detail-background.png);
}

.form-prompt {
    text-align: center; 
    color: #ffffff;
    font: normal normal normal 20px/24px Novecento wide;
}

.timer {
    height: 200px; 
    color: #ffffff;
    font: normal normal normal 20px/24px Novecento wide;  
}

.button {
    width: 120px;
    height: 40px;
    opacity: 1;
    border: none;
    border-radius:15px;
    text-align: center;
    background-color: #13E6C6;
    color: #ffffff;
}


#logo {
    margin-top:120px;
	color:#ffffff;
}

#check-in-terms {
    text-align: center;
    font: normal normal 600 25px/30px Novecento wide;
    color: #FFFFFF;
}

input[type=text]{
    padding: 12px 20px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
