<div class="background">
    <div class="admin-login">
        <a routerLink="/login"><input type="submit" value="Admin Login" class="button"></a>
    </div>

    <section id="logo">
        <div class="container">
            <img src="../../../assets/images/visitor-restaurant-logo.png" class="center"
            style="width: 420px; height: 80px;">
        </div>
    </section>

    <section>
        <div class="container">
            <h1 id="check-in-terms">
                COVID Safe Check-in (visitors) 
            </h1>
        </div>
    </section>

    <section>
        <div class="visitor-detail">
            <p class="form-prompt">Please enter your details</p>
            <form (ngSubmit)="onSubmit()">
            <table style="text-align: center; ">
                <tr>
                    <td><label class="form-prompt">First Name</label></td>
                    <td><input type="text" name="firstName" (ngModelChange)='onChangeFirstName($event)'[(ngModel)]="firstName" placeholder="first name..." required></td>
                    <td><label class="form-prompt" *ngIf="showFirstNamePrompt">Invalid Name</label>
                </tr>
                <tr>
                    <td><label class="form-prompt">Last Name</label></td>
                    <td><input type="text" name="lastname" (ngModelChange)='onChangeLastName($event)' [(ngModel)]="lastName" placeholder="last name..." required></td>
                    <td><label class="form-prompt" *ngIf="showLastNamePrompt">Invalid Name</label>
                </tr>
                <tr>
                    <td><label class="form-prompt">Phone Number</label></td>
                    <td><input type="text" name="phoneNumber" (ngModelChange)='onChangePhoneNumber($event)'  [(ngModel)]="phoneNumber" placeholder="phone number..." required></td>
                    <td><label class="form-prompt" *ngIf="showPhoneNumberPrompt">Invalid Phone Number</label>
                </tr>
                <tr>
                    <td><label class="form-prompt">Email Address</label></td>
                    <td><input type="text" name="email" [(ngModel)]="email" (ngModelChange)='onChangeEmail($event)' placeholder="email address..." required></td>
                    <td><label class="form-prompt" *ngIf="showEmailPrompt">Invalid Email</label>
                </tr>
                <tr style="height: 80px;">
                    <td><label class="form-prompt">Check In Time</label></td>
                    <td><label class="form-prompt">{{ checkinTime | date:'dd/MM/yyyy HH:mm:ss'}}</label></td>
                </tr>
            </table>
            <input type="submit" value="NEXT" class="button">
            </form>
        </div>
    </section>
</div>