<div class="background">
    <div class="admin-login">
        <img src="../../../assets/images/visitor-admin-login.png" style="width: 120px; height: 30px;">
    </div>

    <section id="logo">
        <div class="container">
            <img src="../../../assets/images/visitor-restaurant-logo.png" class="center"
            style="width: 420px; height: 80px;">
        </div>
    </section>

    <section>
        <div class="container">
            <h1 id="check-in-terms">
                COVID Safe Check-in (visitors) 
            </h1>
        </div>
    </section>

    <section>
        <div class="visitor-detail">
            <p class="form-prompt">Please enter your details</p>
            <form style="text-align: center;">
                <tr>
                    <label class="form-prompt">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="first name...">
                </tr>

                <tr>
                    <label class="form-prompt">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="last name...">
                </tr>

                <tr>
                    <label class="form-prompt">Phone Number</label>
                    <input type="text" id="phone" name="phone" placeholder="phone number...">
                </tr>

                <tr>
                    <label class="form-prompt">Email Address</label>
                    <input type="text" id="email" name="email" placeholder="email address...">
                </tr>
            </form>

        </div>

    </section>

</div>